{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block styling %}

{% endblock %}

{% block body %}
	<main>
		<form action="/exel/processexel" method="post" enctype="multipart/form-data">
			<input type="file" name="files" id="files">
			<input type="submit">
		</form>
	</main>
{% endblock %}